.featuresContainer{
    display: flex;
    
}
.rowReverse{
    flex-direction: row-reverse;
}
.left{
    width: 45%;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 45px;
    gap: 12px;
}
.servicesContainer{
    display: flex;
    width: 75%;
    gap: 23px;
    margin: 23px 0;
}
.servicesContainer h6{
    font-weight: 700;
    margin-bottom: 0;
}
.servicesContainer span{
    font-size: 12px;
}
.smallImageContainer{
    background-color: black;
    height: fit-content;
    padding: 12px 15px;
    border-radius: 10px;
}

.pointContainer{
    display: flex;
    /* flex-direction: column; */
    gap:23px;
    margin:23px 0px
}
.pHeading{
    font-size: 2.5rem;
    color: #0D152E;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.secHeading{
    width: 85%;
}
.notReverse{
    padding: 53px 82px;
}
.point{
    display: flex;
    flex-direction: column;
}

@media(max-width:1399px){
    .left{
        width: 53%;
    }
}

@media(max-width:1199px){
    .right{
        gap: 12px;
        width: 100%;
        align-items: center;
    }
    .left{
        display: flex;
    /* align-items: center; */
    justify-content: center;
        width: 100%;
    }
    .featuresContainer{
        flex-direction: column-reverse;
        
    }
}

@media(max-width:766px){
   .pointContainer{
    flex-direction: column;
   }
}

@media(max-width:515px){
    .right{
        padding: 12px;
    }
    .notReverse{
        padding: 12px;
    }
}   