.PrimaryHeading{
  font-size: 3rem;
  color: #0D152E  ;
  font-weight: 900;
  width: 70%;
  
}
.mainContainer{
  padding: 165px 0px;
  display: flex;
  gap: 23px;
}
.left{
  width: 45%;
  padding: 105px 0px;
}
.right{
  width: 55%;
}
.TestimonialContainer{
  display: flex;
  gap: 23px;
  width: 54%;

  margin: auto;
  /* justify-content: space-around; */
}
.imageDiv{
  border-radius: 23px;
  overflow: hidden;
  border-bottom-right-radius: 20%;
}
.imageDiv img{
  width: 300px;
}

.testimonalsRight{
  display: flex;
    flex-direction: column;
    padding: 50px 23px;
    width: 48%;
}
.clientPara{
  font-size: 12px;
}
.clienHeading{
  margin-bottom: 23px;
}
.clienHeading span{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #0D152E;
  display: flex;
  flex-direction: column;
}

.clientDetail{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.clientDetail span{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}
.prefooterContainer{
  padding-bottom: 6%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 3rem;
  font-weight: 600;
}
.CommasImage{
  background-color: black;
  width: fit-content;
    padding: 12px;
    /* top: 2%; */
    position: relative;
    top: 33px;
    left: 74%;
    border-radius: 12px;
}

@media(max-width:1199px){
  .TestimonialContainer{
    width: 100%;
  }
}

@media(max-width:991px){
  .mainContainer{
    flex-direction: column;
    padding: 12px;
  }
  .PrimaryHeading{
    
    width: 100%;
    
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
}

@media(max-width:768px){
  /* .imageDiv img{
    width: 40%;
  } */
  .testimonalsRight{
    width: 100%;
  }
}

@media(max-width:700px){
  .TestimonialContainer{
    flex-direction: column;
  }.CommasImage{
    left: 40%;
  }
}

@media(max-width:1149px){
  .prefooterContainer {
font-size: 2rem;
  }
}

@media(max-width:585px){
  .prefooterContainer {
    font-size: 1.4rem;
      }
}

@media(max-width:1305px){
  .prefooterimages{
    display: none;
  }
}