.PrimaryHeading{
  font-size: 3rem;
  color: #0D152E  ;
  
}
.mainContainer{
  padding: 165px 0px;
  display: flex;
  gap: 23px;
}
.left{
  width: 45%;
  padding: 105px 0px;
}
.right{
  width: 55%;
}
.TestimonialContainer{
  display: flex;
  gap: 23px;
  width: 54%;

  margin: auto;
  /* justify-content: space-around; */
}
.imageDiv{
  border-radius: 23px;
  overflow: hidden;
  border-bottom-right-radius: 20%;
}
.imageDiv img{
  width: 300px;
}

.testimonalsRight{
  display: flex;
    flex-direction: column;
    padding: 0 23px;
    width: 48%;
}
.clientPara{
  font-size: 12px;
}
.clienHeading{
  margin-bottom: 23px;
}
.clienHeading span{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #0D152E;
  display: flex;
  flex-direction: column;
}

.clientDetail{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.clientDetail span{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}